<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="efea79">  <td>21/02/19 13:46:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogoTest.account_SignIn_Register(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.logo.test.LogoTest@5bc79255]">account_SignIn_Register</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>21/02/19 13:46:55</td>   <td>13942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogoTest.login_user()[pri:1, instance:com.logo.test.LogoTest@5bc79255]">login_user</td> 
  <td>main@1301664418</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>21/02/19 13:46:15</td>   <td>-25737</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LogoTest.setup()[pri:0, instance:com.logo.test.LogoTest@5bc79255]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1301664418</td>   <td></td> </tr>
</table>
